.who-am-i {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    color: $white;;
    letter-spacing: 1px;
    @media(max-width: $mobile){
        width: 90%;
        display: block;
        margin: 0 auto;
        padding-top: 32px;
    }
    &__description{
        // align-self: flex-start;
        line-height: 1.5;
        font-size: 18px;
        @media(max-width: $mobile){
            font-size: 12px;
            text-align: center;
        }
        &--link{
            color: $green;
            text-decoration: none;
            font-weight: 700;
        }
    }
    &__heading{
        color: $green;
        font-size: 48px;
        padding: 80px 0 16px;
        @media(max-width: $mobile){
            font-size: 24px;
            padding: 64px 0 8px;
            text-align: center;
        }
    }
    &__photo{
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 5;
        width: 100%;
        height: auto;
        align-self: center;
        border-radius: 8px;
        box-shadow: -12px -12px 12px 0 rgba(29, 185, 84, .8),
        12px 12px 12px 0 rgba(0, 0, 0, .8);
        @media(max-width: $mobile){
            box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, .3),
            8px 8px 12px 0 rgba(0, 0, 0, .5);
            order: 0;
            display: block;
            margin: 0 auto;
            width: 80%;
            margin-top: 24px;
        }
        @media(min-width: $mobile) and (max-width: 1440px){
            box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, .3),
            8px 8px 12px 0 rgba(0, 0, 0, .5);
            // order: 0;
            display: block;
            margin: 0 auto;
            width: 40%;
            margin-top: 40px;
        }
        
    }
    &__section-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__section-2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 20% 20% 20% 20% 20%;
        gap: 10px;
        // flex-direction: column;
        // align-items: center;
        padding: 0 0 0 0;
        // text-align: start;
        @media(max-width: $mobile){
            padding: 0 0 32px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media(min-width: $mobile) and (max-width: 1440px){
            padding: 0 0 48px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }
}