.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: $green;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &-wrapper {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        // margin: 0 auto;
        width: 100%;
    }
    &__description{
        // display: flex;
        // align-self: flex-end;
        text-align: center;
        color: $white;
        line-height: 1.5;
        & span{
            // color: red;
            display: block;
        }
    }
    &__socials{
        // position: absolute;
        // z-index: 10;
        text-decoration: none;
        font-size: 32px;
        color: $white;;
        // margin-right: 32px;
        margin: 0 12px;
    }
    &__image{
        position: absolute;
        transform: scale(.8);
        top: 20%;
        left: 70%;
        // width: 40%;
        // margin-right: auto;
        
    }
    &__image--2{
        position: absolute;
        transform: scale(.8);
        bottom: 20%;
        right: 70%;
        // width: 100%;
        // margin-right: auto;
        
    }
    
}