.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: $green;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    &-wrapper {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        // margin: 0 auto;
        width: 100%;
    }
    &__description{
        // display: flex;
        // align-self: flex-end;
        text-align: center;
        color: $white;
        line-height: 1.5;
        @media(max-width: $mobile){
            max-width: 40%;
            font-size: 12px;
        }
        & span{
            // color: red;
            display: block;
        }
    }
    &__socials{
        // position: absolute;
        // z-index: 10;
        text-decoration: none;
        font-size: 32px;
        color: $white;;
        // margin-right: 32px;
        margin: 0 12px;
        @media(max-width: $mobile){
            font-size: 24px;
        }
    }
    &__image{
        position: absolute;
        transform: scale(.8);
        top: 20%;
        left: 70%;
        // width: 40%;
        // margin-right: auto;
        @media(max-width: $mobile){
            top: 10%;
            left: 10%;
            transform: scale(.5) rotate(325deg)
        }
        
    }
    &__image--2{
        position: absolute;
        transform: scale(.8);
        bottom: 20%;
        right: 70%;
        @media(max-width: $mobile){
            bottom: 10%;
            right: 10%;
            transform: scale(.5) rotate(145deg)
        }
    }
    
}