.genres {
    padding: 10% 10%;
    &__heading {
        text-align: center;
        font-size: 48px;
        color: #1DB954;
        margin-bottom: 16px;
    }
    &__description{
        display: block;
        max-width: 768px;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 128px;
        text-align: center;
        color: #F6E8EA;

    }
    &__grid {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-template-rows: auto;
        row-gap: 64px;
        column-gap: 3.5%;
        text-align: center;
        
    }
    &-section{
        box-shadow: -12px -12px 12px 0 rgba(60, 60, 60, .2),
        12px 12px 12px 0 rgba(0, 0, 0, .1);
        padding: 16px;
        border-radius: 8px;
        &__heading{
            color: #1DB954;
            margin-bottom: 32px;
        }
    }
    &-list{
        margin-top: 16px;
        list-style: none;
        color: #F6E8EA;
        line-height: 1.8;
    }
}