.hero {
    height: 100vh;
    background-image: url('../images/headphones-1920.jpg');
    &__heading {
        letter-spacing: 3px;
        line-height: 1.1;
        font-size: 78px;
        color: #ccc;
        margin-bottom: 40px;
        &--special{
            display: block;
        }
    }
    &__link{
        text-decoration: none;
        color: #1DB954;
        padding: 10px;
        border: 1px solid #1DB954;
        border-radius: 8px;
        transition: .2s;
        
        &:hover{
            background: #1DB954;
            color: #fff;
        }
    }
}

.hero-wrapper {
    position: absolute;
    top: 40%;
    left: 10%;
    // background: rgba($color: #000000, $alpha: .2);
}