.hero {
    height: 100vh;
    background-image: url('../images/headphones-1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__heading {
        letter-spacing: 3px;
        line-height: 1.1;
        font-size: 78px;
        color: #F6E8EA;
        margin-bottom: 40px;
        &--special{
            display: block;
            margin-bottom: 16px;
        }
        &--special-small{
            display: block;
            font-size: 12px;
        }
    }
    &__link{
        text-decoration: none;
        color: #1DB954;
        padding: 10px;
        border: 1px solid #1DB954;
        border-radius: 8px;
        transition: .2s;
        background-color: rgba($color: #000000, $alpha: .3);
        
        &:hover{
            background: #1DB954;
            color: #F6E8EA;
        }
    }
}

.hero-wrapper {
    position: absolute;
    top: 42%;
    left: 10%;
    // background: rgba($color: #000000, $alpha: .2);
}